{content name="content"}
<!-- product section -->
    <section class="product">
        <div class="grid-container">
            <div class="grid-100 mobile-grid-100 tablet-grid-100">
            
            <!-- entry-header -->
            <header class="entry-header">
            <h1 class="product-title">Try Driver Maps for 30 Days</h1>
            
            <p class="product-slogan">See how you can save time managing your marketing campaigns in one place.</p>
     
            <a class="product-link">Buy Driver Maps now!<i class="icon-user"></i></a>
            </header>
            <!-- close entry-header -->
            
            <!-- product image -->
            <img id="features" src="{config.base_url}/app/views/maps/images/product-image.png" alt="Trenton">
            <!-- close product image -->      
            
            </div>                                                  
        </div>
    </section><!-- close product section -->
    
    <div class="clear"></div>
    
<!-- information section -->
    <section id="information-section" class="information-section">
        <div class="grid-container">
            
            <!-- icon box 1 -->
            <div class="grid-33 mobile-grid-100 tablet-grid-100">
                <i class="icon-group icon-4x main-icon"></i> 
                <div class="info"> 
                <h3>Generate high quality leads</h3>
                <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna sed pulvinar. Duis varius ultrices quam id interdum. Nullam tempus semper mattis.</p>
                </div>
            </div><!-- close icon box -->
            
            <!-- icon box 2 -->
            <div class="grid-33 mobile-grid-100 tablet-grid-100">
                <i class="icon-coffee icon-4x main-icon"></i> 
                <div class="info">
                <h3>Spend more time selling</h3>
                <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna sed pulvinar. Duis varius ultrices quam id interdum. Nullam tempus semper mattis.</p>
               </div>   
            </div><!-- close icon box -->
            
            <!-- icon box 3 -->
            <div class="grid-33 mobile-grid-100 tablet-grid-100">
                <i class="icon-thumbs-up icon-4x main-icon"></i> 
                <div class="info">
                <h3>Get happier customers</h3>
                <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna sed pulvinar. Duis varius ultrices quam id interdum. Nullam tempus semper mattis.</p>
                </div>
            </div><!-- close icon box -->
            
        </div><!-- close grid-container -->
    </section><!-- close information section -->
    
    <div class="clear"></div>
    
    <!-- section product left -->
    <section id="products" class="product-left cbp-so-section cbp-so-init">
        <div class="grid-container">
            
            <!-- product image left -->
            <div class="product-image grid-50 mobile-grid-100 tablet-grid-50 cbp-so-side-left cbp-so-side">
                <img src="images/product-image-left.png" alt="product-left">
            </div><!-- close product image left -->
            
            <div class="grid-45 prefix-5 mobile-grid-100 tablet-grid-50 cbp-so-side-right cbp-so-side">
                
                <!-- entry header -->          
                <header class="entry-header">
                    <h2 class="entry-title">Google Play badges</h2>
                    <p>
                        <i class="icon-apple"></i>
                        <i class="icon-android"></i>
                        <i class="icon-windows"></i>
                    </p>
                </header><!-- entry header -->
                
                <p>Google Play badges allow you to promote your app with official branding in your online ads, promotional materials, or anywhere else you want a link to your app. In the form below, input your app's package name or publisher name, choose the badge style, click Build my badge, then paste the HTML into your web content.</p>
              
                <p><a href="#"><img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" /></a></p>

               
            </div>
            
        </div><!-- close grid container -->
    </section><!-- close section product left -->
    
    <div class="clear"></div>
    
    <!-- section product right -->
    <section class="product-right cbp-so-section cbp-so-init">
        <div class="grid-container">
        
            <div class="grid-45 suffix-5 mobile-grid-100 tablet-grid-50 cbp-so-side-left cbp-so-side">
                
                <!-- entry header -->
                <header class="entry-header">
                    <h2 class="entry-title">Driver Maps works fine on your tablet</h2>
                </header>
                
                <p>The iTunes, App Store, iBookstore and Mac App Store marketing badges are now offered in 38 languages. </p>
                <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna sed pulvinar. Duis varius ultrices quam id interdum. Nullam tempus semper mattis. Nulla varius cursus turpis, non porta mi ullamcorper id.</p>
                <p><a href="#"><img src="{config.base_url}/app/views/maps/images/Download_on_the_App_Store_Badge_US-UK_135x40_0824.png" alt="App Store"></a></p>

            </div>
            
            <!-- prodcut image right -->
            <div class="product-image grid-50 mobile-grid-100 tablet-grid-50 cbp-so-side-right cbp-so-side">
                <img src="{config.base_url}/app/views/maps/images/product-image-right.png" alt="prdocut-right">
            </div><!-- close product image right -->
                
        </div><!-- close grid container -->
    </section><!-- close section product right -->
{/content}

{content name="cta"}
<section id="cta" class="cta">
        <div class="grid-container">
                
                <!-- CTA -->  
                <div class="grid-50 mobile-grid-100 tablet-grid-100">
                    <h2 class="cta-title">Start Your Free Trial Today!</h2>
                    <p class="cta-slogan">There's no risk, no obligation, and no credit card required.</p>
                </div>
                
                <div class="grid-45 prefix-5 mobile-grid-100 tablet-grid-100">
                <a class="product-link cta-button">Try Driver Maps for 30 Days<i class="icon-cloud-download"></i></a>
                </div>
                <!-- close CTA -->  
           
        </div><!-- close grid container -->
    </section><!-- close parallax banner 1-->
{/content}