<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Driver Maps</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- CSS
  	================================================== -->
  	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/ut-fontface.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/ut-responsive-grid.css">
    <link rel="stylesheet" href="css/style.css">
   
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<!-- Load jQuery
  	================================================== -->
  	<script src="js/jquery.min.js"></script>
	<script src="js/modernizr.js"></script>
    <script src="js/respond.src.js"></script>   
</head>
<body id="mainsite">
	
	<!-- Primary Page Layout
	================================================== -->

	<!-- header section -->
	<header id="header-section">     
	<div class="grid-container">
    	<!-- main-header -->
		<div class="main-header clearfix">
        	<div class="grid-30 mobile-grid-100 tablet-grid-30">
                <div class="site-branding ">	
                    <h1><a href="index.htm"><img src="images/logo.png" alt="Driver Maps"></a></h1>
                </div>
            </div>
            
            <!-- navigation -->
            <div class="grid-70 hide-on-mobile tablet-grid-70">
				<nav id="ut-navigation">
                    <ul>
                        <li><a class="selected" href="#mainsite">Home</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#products">Take a tour</a></li>
                    </ul>
        		</nav>
        	</div><!-- close navigation -->
            
    	</div><!-- close main-header -->        
	</div><!-- close container -->
	</header><!-- close header section -->

    
    <!-- information section -->
	<section id="information-section" class="information-section-internal">
		<div class="grid-container"> 	
            <!-- Register -->
        	<div class="grid-50 mobile-grid-100 tablet-grid-100 login">
            	<h2>Register</h2>
                <form action="#" method="POST" id="login-form">
		
                    <fieldset>
        
                        <p>
                            <label for="login-username">username</label>
                            <input type="text" name="username" class="round full-width-input" autofocus />
                        </p>
                        <p>
                            <label for="login-username">email</label>
                            <input type="text" name="email" class="round full-width-input" autofocus />
                        </p>
        
                        <p>
                            <label for="login-password">password</label>
                            <input type="password" name="password" class="round full-width-input" />
                        </p>
        
                        
                        <a href="#" class="button">REGISTER</a>

					</fieldset>
				</form>
            </div>	
            <!-- Login -->
        	<div class="grid-50 mobile-grid-100 tablet-grid-100 login">
            	<h2>Login</h2>
            	<form action="#" method="POST" id="login-form">
                	<fieldset>
						<p>
							<label for="login-username">username</label>
							<input type="text" id="login-username" class="round full-width-input" autofocus />
						</p>
						<p>
							<label for="login-password">password</label>
							<input type="password" id="login-password" class="round full-width-input" />
						</p>
						<p>I've <a href="#">forgotten my password</a>.</p>
						<a href="#" class="button">LOG IN</a>
					</fieldset>
					<!-- <div class="information-box round">Just click on the "LOG IN" button to continue, no login information required.</div> -->
				</form>
            </div>	
		</div><!-- close grid-container -->
	</section><!-- close information section -->
    
    <div class="clear"></div>

	<!-- Footer Section -->
	<footer class="footer">
		<div class="grid-container">
        
			<div class="grid-25 hide-on-mobile hide-on-tablet">
            
                <!-- footer site branding -->
                <div class="site-branding">	
                    <h1><a href="#"><img src="images/logo.png" alt="Trenton Logo"></a></h1>
                </div><!-- close footer site branding -->
            
            <p class="copyright">Copyright &copy; 2013 <a href="#">DRIVER MAPS</a>. <br>All rights reserved.</p>
            
            </div>
            
            <div class="grid-25 hide-on-mobile tablet-grid-33">
            
            	<h3>About</h3>
                <ul>
                	<li><a href="#">Affiliate program</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
                
                
            
            </div>
            
            <div class="grid-25 hide-on-mobile tablet-grid-33">
            
            	<h3>Help</h3>
                <ul>
                	<li><a href="#">Support</a></li>
                   	<li><a href="#">Orders</a></li>
                    <li><a href="#">All help topics</a></li>
                    <li><a href="#">FAQ</a></li>                  
                </ul>
                
                
            
            </div>
            
            <div class="grid-25 hide-on-mobile tablet-grid-33">
            
            	<h3>Connect</h3>
                <ul>
                	<li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Google Plus</a></li>
                </ul>    	
            
            </div>
            
             <!-- mobile copyright -->
            <div class="hide-on-desktop mobile-grid-100 tablet-grid-100">
            	<div class="mobile-copyright">
                	<p class="copyright">Copyright &copy; 2013 <a href="#">Driver Maps</a>. All rights reserved.</p>
                </div>
            </div>
            <!-- close mobile copyright -->           
         	
		</div><!-- close container -->
	</footer><!-- close footer -->

<!-- Load Javascript
  	================================================== -->
    <script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/cbpScroller.js"></script>
 
	<script src="js/jquery.custom.js"></script>
	
    <script type="text/javascript">
    /* <![CDATA[ */
		
		(function($){
	
		"use strict";
    		
			$(document).ready(function(){
	

			});
			
		})(jQuery);
		
	 /* ]]> */	
    </script>
    
<!-- End Document
================================================== -->
</body>
</html>
<!-- Localized -->