{content name="load"}
$( "#login-button" ).click(function() {
  $( "#login-form" ).submit();
});

$( "#register-button" ).click(function() {
  $( "#register-form" ).submit();
});
{/content}
    {content name="content"}
    <!-- information section -->
    <section id="information-section" class="information-section-internal">
        <div class="grid-container">    
            <!-- Register -->
            <div class="grid-50 mobile-grid-100 tablet-grid-100 login">
                <h2>Register</h2>
                <form action="{config.base_url}/register" method="POST" id="register-form">
        
                    <fieldset>
        
                        <p>
                            <label for="login-username">{lang.login_signup.username}</label>
                            <input type="text" name="name" class="round full-width-input" autofocus />
                        </p>
                        <p>
                            <label for="login-username">{lang.login_signup.email}</label>
                            <input type="text" name="email" class="round full-width-input" autofocus />
                        </p>
        
                        <p>
                            <label for="login-password">{lang.login_signup.password}</label>
                            <input type="password" name="password" class="round full-width-input" />
                        </p>
                        <p>
                            <label for="login-password">{lang.login_signup.repeat_password}</label>
                            <input type="password" name="repeat_password" class="round full-width-input" />
                        </p>
        
                        
                        <a href="#" class="button" id="register-button">{lang.login_signup.register}</a>

                    </fieldset>
                </form>
            </div>  
            <!-- Login -->
            <div class="grid-50 mobile-grid-100 tablet-grid-100 login">
                <h2>Login</h2>
                <form action="{config.base_url}/login" method="POST" id="login-form">
                    <fieldset>
                        <p>
                            <label for="login-username">{lang.login_signup.email}</label>
                            <input type="text" name="email" class="round full-width-input" autofocus />
                        </p>
                        <p>
                            <label for="login-password">{lang.login_signup.password}</label>
                            <input type="password" id="login-password" name="password" class="round full-width-input" />
                        </p>
                        <p>I've <a href="#">{lang.login_signup.forgot_password}</a>.</p>
                        <a href="#" class="button" id="login-button">{lang.login_signup.login}</a>
                    </fieldset>
                    <!-- <div class="information-box round">Just click on the "LOG IN" button to continue, no login information required.</div> -->
                </form>
            </div>  
        </div><!-- close grid-container -->
    </section><!-- close information section -->
    {/content}