<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Driver Maps</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- CSS
  	================================================== -->
  	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/ut-fontface.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/ut-responsive-grid.css">
    <link rel="stylesheet" href="css/style.css">
   
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<!-- Load jQuery
  	================================================== -->
  	<script src="js/jquery.min.js"></script>
	<script src="js/modernizr.js"></script>
    <script src="js/respond.src.js"></script>   
</head>
<body id="mainsite">
	
	<!-- Primary Page Layout
	================================================== -->

	<!-- header section -->
	<header id="header-section">     
	<div class="grid-container">
    	<!-- main-header -->
		<div class="main-header clearfix">
        	<div class="grid-30 mobile-grid-100 tablet-grid-30">
                <div class="site-branding ">	
                    <h1><a href="index.htm"><img src="images/logo.png" alt="Driver Maps"></a></h1>
                </div>
            </div>
            
            <!-- navigation -->
            <div class="grid-70 hide-on-mobile tablet-grid-70">
				<nav id="ut-navigation">
                    <ul>
                        <li><a class="selected" href="#mainsite">Home</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#products">Take a tour</a></li>
                    </ul>
        		</nav>
        	</div><!-- close navigation -->
            
    	</div><!-- close main-header -->        
	</div><!-- close container -->
	</header><!-- close header section -->

    
    <!-- information section -->
	<section id="information-section" class="information-section-internal">
		<div class="grid-container">
        	<!-- Pricing -->
        	<div class="grid-100 mobile-grid-100 tablet-grid-100">
            	<div class="promos">
				<div class="promo">
                    <div class="deal"> <span>Premium</span> <span>This is really a good deal!</span> </div>
                    <span class="price">$79</span>
                    <ul class="features">
                        <li>Some great feature</li>
                        <li>Another super feature</li>
                        <li>And more...</li>
                      </ul>
                    <button>Sign up</button>
                  </div>
				<div class="promo scale">
                    <div class="deal"> <span class="notice">Plus</span> <span>This is really a good deal!</span> </div>
                    <span class="price">$89</span>
                    <ul class="features">
                        <li>Some great feature</li>
                        <li>Another super feature</li>
                        <li>And more...</li>
                      </ul>
                    <button>Sign up</button>
                  </div>
				<div class="promo">
                    <div class="deal"> <span>Basic</span> <span>Basic membership</span> </div>
                    <span class="price">$69</span>
                    <ul class="features">
                        <li>Choose the one on the left</li>
                        <li>We need money</li>
                        <li>And more...</li>
                      </ul>
                    <button>Sign up</button>
                  </div>
            	</div> 
            </div> 			
		</div><!-- close grid-container -->
	</section><!-- close information section -->
    
    <div class="clear"></div>
   
    <!-- Call to Action bottom section -->
    <section id="cta" class="cta">
		<div class="grid-container">
        	    
                <!-- CTA -->  
            	<div class="grid-50 mobile-grid-100 tablet-grid-100">
                    <h2 class="cta-title">Signup now!</h2>
                    <p class="cta-slogan">With a click you can have this and more!</p>
                </div>
                
                <div class="grid-45 prefix-5 mobile-grid-100 tablet-grid-100">
              	<a class="product-link cta-button">Check our prices <i class="icon-eur"></i></a>
           		</div>
                <!-- close CTA --> 	
           
		</div><!-- close grid container -->
	</section><!-- close parallax banner 1-->
    
    <div class="clear"></div>

	<!-- Footer Section -->
	<footer class="footer">
		<div class="grid-container">
        
			<div class="grid-25 hide-on-mobile hide-on-tablet">
            
                <!-- footer site branding -->
                <div class="site-branding">	
                    <h1><a href="#"><img src="images/logo.png" alt="Trenton Logo"></a></h1>
                </div><!-- close footer site branding -->
            
            <p class="copyright">Copyright &copy; 2013 <a href="#">DRIVER MAPS</a>. <br>All rights reserved.</p>
            
            </div>
            
            <div class="grid-25 hide-on-mobile tablet-grid-33">
            
            	<h3>About</h3>
                <ul>
                	<li><a href="#">Affiliate program</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
                
                
            
            </div>
            
            <div class="grid-25 hide-on-mobile tablet-grid-33">
            
            	<h3>Help</h3>
                <ul>
                	<li><a href="#">Support</a></li>
                   	<li><a href="#">Orders</a></li>
                    <li><a href="#">All help topics</a></li>
                    <li><a href="#">FAQ</a></li>                  
                </ul>
                
                
            
            </div>
            
            <div class="grid-25 hide-on-mobile tablet-grid-33">
            
            	<h3>Connect</h3>
                <ul>
                	<li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Google Plus</a></li>
                </ul>    	
            
            </div>
            
             <!-- mobile copyright -->
            <div class="hide-on-desktop mobile-grid-100 tablet-grid-100">
            	<div class="mobile-copyright">
                	<p class="copyright">Copyright &copy; 2013 <a href="#">Driver Maps</a>. All rights reserved.</p>
                </div>
            </div>
            <!-- close mobile copyright -->           
         	
		</div><!-- close container -->
	</footer><!-- close footer -->

<!-- Load Javascript
  	================================================== -->
    <script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/cbpScroller.js"></script>
 
	<script src="js/jquery.custom.js"></script>
	
    <script type="text/javascript">
    /* <![CDATA[ */
		
		(function($){
	
		"use strict";
    		
			$(document).ready(function(){
	

			});
			
		})(jQuery);
		
	 /* ]]> */	
    </script>
    
<!-- End Document
================================================== -->
</body>
</html>
<!-- Localized -->